.spinner-loader {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 693;
    background-color: rgba(109, 106, 106, 0.301);
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;

}